<div class='talkIndex'>
  <div class='talkIndexHeader'>
    <nav class='navber navber-expand navbar-light talkIndexHeaderNave'>
      <%= image_tag 'logo-6.png', class: 'img-fuild' %>
    </nav>
  </div>

  <div class='container'>
    <div class='row'>

      <div class='col-6 talkIndexArea'>
        <dl>
          <dt>北海道・東北</dt>
          <dd>
            <ul class='nav'>
              <li class='nav-item'><%= link_to '北海道', talk_path(id:1), class: 'nav-link' %></li>
              <li class='nav-item'><%= link_to '青森', talk_path(id:2), class: 'nav-link' %></li>
              <li class='nav-item'><%= link_to '秋田', talk_path(id:3), class: 'nav-link' %></li>
              <li class='nav-item'><%= link_to '山形', talk_path(id:4), class: 'nav-link' %></li>
              <li class='nav-item'><%= link_to '岩手', talk_path(id:5), class: 'nav-link' %></li>
              <li class='nav-item'><%= link_to '宮城', talk_path(id:6), class: 'nav-link' %></li>
              <li class='nav-item'><%= link_to '福島', talk_path(id:7), class: 'nav-link' %></li>
            </ul>
          </dd>
        </dl>
        <dl>
          <dt>中部</dt>
          <dd>
            <ul class='nav'>
              <li class='nav-item'><%= link_to '愛知', talk_path(id:8), class: 'nav-link' %></li>
              <li class='nav-item'><%= link_to '岐阜', talk_path(id:9), class: 'nav-link' %></li>
              <li class='nav-item'><%= link_to '静岡', talk_path(id:10), class: 'nav-link' %></li>
              <li class='nav-item'><%= link_to '三重', talk_path(id:11), class: 'nav-link' %></li>
              <li class='nav-item'><%= link_to '新潟', talk_path(id:12), class: 'nav-link' %></li>
              <li class='nav-item'><%= link_to '山梨', talk_path(id:13), class: 'nav-link' %></li>
              <li class='nav-item'><%= link_to '長野', talk_path(id:14), class: 'nav-link' %></li>
              <li class='nav-item'><%= link_to '石川', talk_path(id:15), class: 'nav-link' %></li>
              <li class='nav-item'><%= link_to '富山', talk_path(id:16), class: 'nav-link' %></li>
              <li class='nav-item'><%= link_to '福井', talk_path(id:17), class: 'nav-link' %></li>
            </ul>
          </dd>
        </dl>
        <dl>
          <dt>中国・四国</dt>
          <dd>
            <ul class='nav'>
              <li class='nav-item'><%= link_to '岡山', talk_path(id:18), class: 'nav-link' %></li>
              <li class='nav-item'><%= link_to '広島', talk_path(id:19), class: 'nav-link' %></li>
              <li class='nav-item'><%= link_to '鳥取', talk_path(id:20), class: 'nav-link' %></li>
              <li class='nav-item'><%= link_to '島根', talk_path(id:21), class: 'nav-link' %></li>
              <li class='nav-item'><%= link_to '山口', talk_path(id:22), class: 'nav-link' %></li>
              <li class='nav-item'><%= link_to '香川', talk_path(id:23), class: 'nav-link' %></li>
              <li class='nav-item'><%= link_to '徳島', talk_path(id:24), class: 'nav-link' %></li>
              <li class='nav-item'><%= link_to '愛媛', talk_path(id:25), class: 'nav-link' %></li>
              <li class='nav-item'><%= link_to '高知', talk_path(id:26), class: 'nav-link' %></li>
            </ul>
          </dd>
        </dl>
      </div>

      <div class='col-6 talkIndexArea'>
        <dl>
          <dt>関東</dt>
          <dd>
            <ul class='nav'>
              <li class='nav-item'><%= link_to '東京', talk_path(id:27), class: 'nav-link' %></li>
              <li class='nav-item'><%= link_to '神奈川', talk_path(id:28), class: 'nav-link' %></li>
              <li class='nav-item'><%= link_to '埼玉', talk_path(id:29), class: 'nav-link' %></li>
              <li class='nav-item'><%= link_to '千葉', talk_path(id:30), class: 'nav-link' %></li>
              <li class='nav-item'><%= link_to '栃木', talk_path(id:31), class: 'nav-link' %></li>
              <li class='nav-item'><%= link_to '茨城', talk_path(id:32), class: 'nav-link' %></li>
              <li class='nav-item'><%= link_to '群馬', talk_path(id:33), class: 'nav-link' %></li>
            </ul>
          </dd>
        </dl>
        <dl>
          <dt>関西</dt>
          <dd>
            <ul class='nav'>
              <li class='nav-item'><%= link_to '大阪', talk_path(id:34), class: 'nav-link' %></li>
              <li class='nav-item'><%= link_to '兵庫', talk_path(id:35), class: 'nav-link' %></li>
              <li class='nav-item'><%= link_to '京都', talk_path(id:36), class: 'nav-link' %></li>
              <li class='nav-item'><%= link_to '滋賀', talk_path(id:37), class: 'nav-link' %></li>
              <li class='nav-item'><%= link_to '奈良', talk_path(id:38), class: 'nav-link' %></li>
              <li class='nav-item'><%= link_to '和歌山', talk_path(id:39), class: 'nav-link' %></li>
            </ul>
          </dd>
        </dl>
        <dl>
          <dt>九州・沖縄</dt>
          <dd>
            <ul class='nav'>
              <li class='nav-item'><%= link_to '福岡', talk_path(id:40), class: 'nav-link' %></li>
              <li class='nav-item'><%= link_to '佐賀', talk_path(id:41), class: 'nav-link' %></li>
              <li class='nav-item'><%= link_to '長崎', talk_path(id:42), class: 'nav-link' %></li>
              <li class='nav-item'><%= link_to '熊本', talk_path(id:43), class: 'nav-link' %></li>
              <li class='nav-item'><%= link_to '大分', talk_path(id:44), class: 'nav-link' %></li>
              <li class='nav-item'><%= link_to '宮崎', talk_path(id:45), class: 'nav-link' %></li>
              <li class='nav-item'><%= link_to '鹿児島', talk_path(id:46), class: 'nav-link' %></li>
              <li class='nav-item'><%= link_to '沖縄', talk_path(id:47), class: 'nav-link' %></li>
            </ul>
          </dd>
        </dl>
      </div>

    </div>
  </div>
</div>
