
<%#北海道%>
<% if @prefecture.find(1).name %>
<h1><%= @prefecture.find(1).name%></h1>
<% end %>

<%#青森%>
<% if @prefecture.find(2).name %>
<h1><%= @prefecture.find(2).name%></h1>
<% end %>

<%#岩手%>
<% if @prefecture.find(3).name %>
<h1><%= @prefecture.find(3).name%></h1>
<% end %>

<%#宮城%>
<% if @prefecture.find(4).name %>
<h1><%= @prefecture.find(4).name%></h1>
<% end %>

<%#秋田%>
<% if @prefecture.find(5).name %>
<h1><%= @prefecture.find(5).name%></h1>
<% end %>

<%#山形%>
<% if @prefecture.find(6).name %>
<h1><%= @prefecture.find(6).name%></h1>
<% end %>

<%#福島%>
<% if @prefecture.find(7).name %>
<h1><%= @prefecture.find(7).name%></h1>
<% end %>

<%#茨城%>
<% if @prefecture.find(8).name %>
<h1><%= @prefecture.find(8).name%></h1>
<% end %>

<%#栃木%>
<% if @prefecture.find(9).name %>
<h1><%= @prefecture.find(9).name%></h1>
<% end %>

<%#群馬%>
<% if @prefecture.find(10).name %>
<h1><%= @prefecture.find(10).name%></h1>
<% end %>

<%#埼玉%>
<% if @prefecture.find(11).name %>
<h1><%= @prefecture.find(11).name%></h1>
<% end %>

<%#千葉%>
<% if @prefecture.find(12).name %>
<h1><%= @prefecture.find(12).name%></h1>
<% end %>

<%#東京%>
<% if @prefecture.find(13).name %>
<h1><%= @prefecture.find(13).name%></h1>
<% end %>

<%#神奈川%>
<% if @prefecture.find(14).name %>
<h1><%= @prefecture.find(14).name%></h1>
<% end %>

<%#新潟%>
<% if @prefecture.find(15).name %>
<h1><%= @prefecture.find(15).name%></h1>
<% end %>

<%#富山%>
<% if @prefecture.find(16).name %>
<h1><%= @prefecture.find(16).name%></h1>
<% end %>

<%#石川%>
<% if @prefecture.find(17).name %>
<h1><%= @prefecture.find(17).name%></h1>
<% end %>

<%#福井%>
<% if @prefecture.find(8).name %>
<h1><%= @prefecture.find(18).name%></h1>
<% end %>

<%#山梨%>
<% if @prefecture.find(19).name %>
<h1><%= @prefecture.find(19).name%></h1>
<% end %>

<%#長野%>
<% if @prefecture.find(20).name %>
<h1><%= @prefecture.find(20).name%></h1>
<% end %>

<%#岐阜%>
<% if @prefecture.find(21).name %>
<h1><%= @prefecture.find(21).name%></h1>
<% end %>

<%#静岡%>
<% if @prefecture.find(22).name %>
<h1><%= @prefecture.find(22).name%></h1>
<% end %>

<%#愛知%>
<% if @prefecture.find(23).name %>
<h1><%= @prefecture.find(23).name%></h1>
<% end %>


<%#三重%>
<% if @prefecture.find(24).name %>
<h1><%= @prefecture.find(24).name%></h1>
<% end %>


<%#滋賀%>
<% if @prefecture.find(25).name %>
<h1><%= @prefecture.find(25).name%></h1>
<% end %>

<%#京都%>
<% if @prefecture.find(26).name %>
<h1><%= @prefecture.find(26).name%></h1>
<% end %>

<%#大阪%>
<% if @prefecture.find(27).name %>
<h1><%= @prefecture.find(27).name%></h1>
<% end %>

<%#兵庫%>
<% if @prefecture.find(28).name %>
<h1><%= @prefecture.find(28).name%></h1>
<% end %>

<%#奈良%>
<% if @prefecture.find(29).name %>
<h1><%= @prefecture.find(29).name%></h1>
<% end %>

<%#和歌山%>
<% if @prefecture.find(30).name %>
<h1><%= @prefecture.find(30).name%></h1>
<% end %>

<%#鳥取%>
<% if @prefecture.find(31).name %>
<h1><%= @prefecture.find(31).name%></h1>
<% end %>

<%#島根%>
<% if @prefecture.find(32).name %>
<h1><%= @prefecture.find(32).name%></h1>
<% end %>

<%#岡山%>
<% if @prefecture.find(33).name %>
<h1><%= @prefecture.find(33).name%></h1>
<% end %>

<%#広島%>
<% if @prefecture.find(34).name %>
<h1><%= @prefecture.find(34).name%></h1>
<% end %>

<%#山口%>
<% if @prefecture.find(35).name %>
<h1><%= @prefecture.find(35).name%></h1>
<% end %>

<%#徳島%>
<% if @prefecture.find(36).name %>
<h1><%= @prefecture.find(36).name%></h1>
<% end %>

<%#香川%>
<% if @prefecture.find(37).name %>
<h1><%= @prefecture.find(37).name%></h1>
<% end %>

<%#愛媛%>
<% if @prefecture.find(38).name %>
<h1><%= @prefecture.find(38).name%></h1>
<% end %>

<%#高知%>
<% if @prefecture.find(39).name %>
<h1><%= @prefecture.find(39).name%></h1>
<% end %>

<%#福岡%>
<% if @prefecture.find(40).name %>
<h1><%= @prefecture.find(40).name%></h1>
<% end %>

<%#佐賀%>
<% if @prefecture.find(41).name %>
<h1><%= @prefecture.find(41).name%></h1>
<% end %>

<%#長崎%>
<% if @prefecture.find(42).name %>
<h1><%= @prefecture.find(42).name%></h1>
<% end %>

<%#熊本%>
<% if @prefecture.find(43).name %>
<h1><%= @prefecture.find(43).name%></h1>
<% end %>

<%#大分%>
<% if @prefecture.find(44).name %>
<h1><%= @prefecture.find(44).name%></h1>
<% end %>

<%#宮崎%>
<% if @prefecture.find(45).name %>
<h1><%= @prefecture.find(45).name%></h1>
<% end %>

<%#鹿児島%>
<% if @prefecture.find(46).name %>
<h1><%= @prefecture.find(46).name%></h1>
<% end %>

<%#沖縄%>
<% if @prefecture.find(47).name %>
<h1><%= @prefecture.find(47).name%></h1>
<% end %>
