<h1><%= @prefecture.name%></h1>


<div class="catego">
<div class="card" style="width: mb-3;">
  <%= image_tag 'hotspring.jpg' ,class: 'card-img-top' %>
  <div class="card-body">
    <h1 class="card-text"><%= link_to '温泉',  "/talks/:talk_id/hotsprings" %></h1>
  </div>
</div>

<div class="card " style="width: mb-3;">
  <%= image_tag 'trabel.jpg' ,class: 'card-img-top' %>
  <div class="card-body">
    <h1 class="card-text "><a href="#">旅行</a></h1>
  </div>
</div>

<div class="card" style="width: mb-3;">
  <%= image_tag 'eat.jpg' ,class: 'card-img-top' %>
  <div class="card-body">
    <h1 class="card-text"><a href="#">食事</a></h1>
  </div>
</div>

<div class="card" style="width: mb-3;">
  <%= image_tag 'zatudan.jpg' ,class: 'card-img-top' %>
  <div class="card-body">
    <h1 class="card-text"><a href="#">雑談</a></h1>
  </div>
</div>
</div>